# Core AI and ML

torch
scikit-learn

# Repository Specific
ffmpeg

# App Framework
deep-translator
gdown
lightning==2.1.4
numpy<2
torchmetrics
matplotlib
wandb
fastdtw
sacrebleu==2.4.0
tokenizers
jiwer
fasttext
opencv-python
mediapipe
pycpd
ffmpeg
lmdb
diffusers
accelerate
seaborn
pandas
streamlit